@level1: 0;
@level2: 100;
@level3: 1000;
@level4: 10000;

// -----------
// 尺寸
// -----------
// 圆角
@radius: 3px;
@base-line-height: 24px;

// padding
@normal-padding: 15px;
@padding-left: @normal-padding;
@padding-right: @normal-padding;
@header-pt: 20px;
@content-wrap: 36px;

// margin 
@margin-left: 10px;
@margin-right: 10px;
@arrow-margin-top: 16px;
@infoItemMT: 30px;
@infoInputMT: 14px;
@cardnumInfoMT: 7px;

// line-height 
@tab-line-height: 40px;
@navitem-line-height: 40px;
@inputLineHeight: 40px;
@listitem-height: 40px;
@button-height: 50px;
@header-lh: 30px;
@hintLineHeight: 20px;

// height
@buttonHeight: 50px;
@actionTitleHeight: 50px;
@actionItemHeight: 56px;
@cardnumImgHeight: 17px;
@inputClearHeight: 16px;

// 字体大小
@hintFS: 12px;
@infoTitleFS: 13px;
@inputFontSize: 18px;
// -----------
// 颜色
// -----------
@astBorderColor: #eee;
@borderColor: #54576A;
@borderActiveColor: #333440;
@contentBgColor: #FBFEFF;
@dialogBgColor: #FBFEFF;
@errorBgColor:  #FFE5E5;
@errorTextColor:  #E65757;
@errorTitle: #FA5558;
@grayborder: #ddd;
@hintColor: #999;
@hintbg: #999;
@infoTitleColor: #54576A;
@off-white: rgba(255,255,255, 0.2);
@passDot: #333440;
@passWranColor: #E85352;
@themeBlue: #6492e3;
@transparent-black: rgba(0,0,0, 0.3);
@white: rgb(255,255,255);
@dialogTitleColor: #222;
@protoColor: #1A3500;
@protoHintColor: #ADADAD;
@formDisableColor: #999999;
@placeHolderColor: #ccc;
@tabBgColor: #6492E3;
@banklistBorderColor: #eee;
// -----------
// 时间
// -----------
@spin-duration: 1s;
@pulse-duration: 750ms;


// -----------
// 动画
// -----------
@keyframes bottomUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}